$keywordColor: #b914fd;
$connectorColor: #000000;


// APPEARANCE PANEL
.dragblock-inspector-controls.interactions {
    .properties {
        margin-top: 20px;

        a.code-lines {
            cursor: pointer;
            // font-size: 0.96em;
            font-family: monospace;
            line-height: 1.7em;
            display: inline-block;
            transition-property: transform;
            transition-duration: 100;
            transition-delay: 0;
            letter-spacing: -0.3px;

            &:hover {
                transform: scale(1.05);
            }

            &.disabled {
                opacity: .5;
            }

            code.line {
                background: none;
                display: block;

                line-height: 1.2em;
                padding-left: 10px;
                border-left: 1px solid #0001;

                span {
                    color: #0009;
                    margin-right: 0.2em;
                    font-size: 0.9em;
                    letter-spacing: 0;

                    &.keyword {
                        color: $keywordColor;
                        font-weight: bold
                    }

                    &.connector {
                        color: $connectorColor;
                    }
                }

                &.event {
                    padding-left: 0;
                    border-left: none;

                    span {
                        font-size: 1em;
                    }
                }
            }
        }

    }
}

// APPEARANCE CONTROLS / PROPERTY POPOVER
$fieldHeight: 20px;

.dragblock-interactions-control-popover {
    .components-popover__content {
        .trigger-lines {
            .line {
                .label {
                    font-size: 8px;
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 0.5px;
                    line-height: 1em;
                    color: $keywordColor;
                }

                .controls {
                    display: flex;
                    & > * {
                        margin-bottom: 15px;
                    }
                    .dragblock-chosen-control {
                        flex-basis: 100%;                        
                    }

                    .components-base-control {
                        flex-basis: 100%;
                        border-bottom: 1px solid #0003;
                        border-radius: 4px;                        
                        padding: 0;

                        .components-base-control__field {
                            margin: 0;

                            .components-text-control__input,
                            .components-select-control__input {
                                font-size: 11px;
                                padding: 0;
                                line-height: $fieldHeight;
                                height: $fieldHeight;
                                min-height: 0;
                                border: none;
                                outline: none;
                                box-shadow: none;
                                border-radius: 4px;
                                padding: 0 5px;

                                &:focus {
                                    box-shadow: 0px 1px 1px #000;
                                }
                            }


                            .components-input-control__suffix,
                            .components-input-control__backdrop {
                                display: none;
                            }
                        }

                        &.fake {
                            font-size: 11px;
                            flex-basis: auto;
                            line-height: $fieldHeight;
                            min-height: 0;
                            border-bottom-color: transparent;
                            font-weight: bold;
                        }
                    }
                }

                &.condition {
                    .controls {
                        .components-base-control:nth-child(2) {
                            flex-basis: auto;
                            padding: 0;

                            .components-select-control__input {
                                text-align: center;
                                color: $connectorColor;
                                font-weight: bold;
                                padding: 0;
                            }
                        }
                    }
                }

                &.then {
                    .controls {

                        .components-base-control:nth-child(2),
                        .components-base-control:nth-child(4) {
                            flex-basis: auto;
                            padding: 0;
                        }
                    }
                }
            }
        }

    }

}