.dragblock-richtext-icon-inserter-results {
	.dragblock-icon {
		cursor: pointer;
		opacity: 0.9;
		&:hover {
			transform: scale(1.1);
			opacity: 1;
			svg {
				fill: currentColor;
			}
		}
		svg {
			width: 24px
		}		
	}
}