/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import '../../applications/back/editor-iframe.scss';

.wp-block-dragblock-option {}