/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import '../../applications/back/editor-iframe.scss';

textarea.wp-block-dragblock-textarea {
    overflow: initial;
    padding: initial;
    line-height: initial;
    resize: initial;
    
    box-shadow: initial;
    border-radius: initial;    
    color: initial;
}