/**
* This is use in iframe for the editor only 
*/

[class*="wp-block"], .block-editor-block-list__layout .block-editor-block-list__block {
    position: initial;
    &.is-selected {
        // box-shadow: 0 0 1px var(--wp-admin-border-width-focus) var(--wp-admin-theme-color)!important;
    }
}
.is-outline-mode .block-editor-block-list__block:not(.remove-outline).is-selected:after {
    box-shadow: none !important;
}

