a,
.components-button {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

.block-editor-block-types-list__list-item [class*="dragblock"] .block-editor-block-types-list__item-icon {
    color: #ff7800;
}

svg {
    fill: currentColor;
}

.dragblock-inspector-controls {
    .components-border-box-control {
        fieldset.components-border-control {
            .components-flex.components-h-stack {
                align-items: flex-start;
                height: auto;
            }
        }
    }
}


// when editing in the editor
// to allow inner wrappers have the same flex properties as their parents
[class*="wp-block"] {
    &>.block-editor-inner-blocks {
        // to display inner blocks horizontally
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
        width: 100%;
        flex-wrap: inherit;
        flex-direction: inherit;

        &>.block-editor-block-list__layout {
            display: inherit;
            justify-content: inherit;
            align-items: inherit;
            width: 100%;
            flex-wrap: inherit;
            flex-direction: inherit;
        }
    }
    
}