/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import '../../applications/back/editor-iframe.scss';

.wp-block-dragblock-text {
	border: 1px dotted #f00;

	&:hover {
		cursor: text;
	}
}


.dragblock-autocomplete-search-box.dragblock-text-language-selector,
.dragblock-autocomplete-search-box.dragblock-insert-shortcodes-box {
	.fake-search-button {
		border-radius: 0px;
		border-left: none;
		border-right: none;
		background: none;
		box-shadow: none;

		&:hover {
			border-left: none;
			border-right: none;
		}
	}
}