/*

! don't define many default properties for blocks here because they will override 
all custom css properties due to the fact that they will be insert inline and has a higher properties 

using ".editor-styles-wrapper" class set default properties in appearance settings instead
or you have to find a ways to override the inline css with your higher properties

We put all default css here so we could control all easily

In the future, we may add default styles feature so users can change by themselves
*/
/*
======================================================
RESET
======================================================
*/
.wp-block-site-title {
    a {
        font-family: inherit;
        cursor: pointer;
    }
}

[class*=wp-block] {
    /* Apply to all changed properties */
    max-width: 100%;
    animation-duration: 1s;
	position: relative;
	// overflow: hidden;
	transition: all 200ms ease-out;
}
.wp-block-dragblock-icon,
.wp-block-dragblock-link,
.wp-block-dragblock-text {
    display: inline-flex;
    align-items: center;
}
.wp-block-dragblock-icon {
    // vertical-align: baseline;
}
/* Icon Block styles. */
.wp-block-dragblock-icon {		
	svg {
		width: 1em;
		fill: currentColor;
	}
}

// to trap bot to fill this input
input[name="dragblock/form-title"] {
	display: none;
	visibility: hidden;
	opacity: 0;
	height: 0;
	width: 0;
}


/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
 .wp-block-dragblock-wrapper {
	// to make sure that all wrapper will have consistent width
	box-sizing: border-box;		

	////////////////////////////////////////////////////////////////
	// shorten code for grid boxes	
	////////////////////////////////////////////////////////////////
	/// we allow to wrap, so our flex-basis settings make sense
	/// because it allows items to stack up vertically	
	// flex-wrap: wrap; *!to not make user confused when they use gap
	// we allow them to set flex-basis for individual items but not wrap
	// them to the next rows. However, we will provide a placeholder settings
	// so they can change manually

	////////////////////////////////////////////////////////////////
	// shorten code for grid boxes	
	////////////////////////////////////////////////////////////////
	// we maintain this property to have the same effect as the flex box
	// to completely control the grid items, people should pick the grid-columns and rows for them	
	// so at beginning, grid items display horizontally
	// grid-auto-flow: column; *! we don't want to use this 
	// because if will affect the grid-template-columns and grid-column set up
}

////////////////////////////////////////////////////////////////////////////////
/// To save the number of CSS code, we expand all wrapper to full width.
/// in mobile and tablet devices
//////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1024px) {
	.wp-block-dragblock-wrapper {
		////////////////////////////////////////////////////////////////////////////////
		/// 
		/// to shorten CSS code for flex boxes on small screens
		/// ////////////////////////////////////////////////////////////////////////////////
		/// expand all flex items 100%
		/// Instead of using "width", we use flex-basis to specify for flex only and users could save time to not set 
		/// flex-basis again when they switch to flex box
		/// In some cases,you do need to flex-basis auto like the header section
		/// then use the flex-basis option to specify 
		/// but because that case is rare so we decided to keep this feature
		// flex-basis: 100%; *! due to the fact that we could create complex layouts using 
		// the grid box we will use flex box just for the simple layouts like a header section
		// with a box on the left and another on the right, we don't need to control this in mobile
		// in most cases

		////////////////////////////////////////////////////////////////////////////////
		/// to shorten CSS code for grid boxes on small screens
		////////////////////////////////////////////////////////////////////////////////
		/// have only one column
		// grid-template-columns: 1fr; *! we don't need to use this
		// because it's the default value of the grid

		/// expand all grid items 100%
		// grid-column: 1/-1; *! we can easily control throught the grid 
		// template columns so we don't have to set on each grid item all the time
		// this is just following the rule: avoid as much as possible to apply properties for each separated item
	}
}




/*
****************************************************************
DEFAULT FOR EDITOR IFRAME:
****************************************************************
- All default properties for blocks should be defined under one-level direct selector
so we can override those default values with our custom style properties using a higher level selector
*/
// [class*=wp-block-dragblock] {  
//     display: flex;
//     max-width: 100%;
// }
.edit-site-block-editor__block-list {
    [class*=wp-block] {        
        // animation-duration: 0;
		&.wp-block-dragblock-text {
			border: none;
		}
        &.is-selected {
            // animation-duration: inherit;
			&.wp-block-dragblock-text {
				border: 1px dotted #f00;
			}
        }
    }
	
}

// this is for smoothing for the changes in css properties of blocks
.block-editor-block-list__block {
    // transition: all 200ms ease-out;
}