.app {
	.content {
		background-color: white;
		border-radius: 10px;
		box-shadow: 1px 1px 10px #0002;
		width: 1200px;
		max-width: 80vw;
		margin: 10vh auto 0 auto;
		position: relative;
		overflow: hidden;
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		@media screen and (max-width: 768px) {
			grid-template-columns: repeat(1, 1fr);
		}

		.screenshot {
			border-right: 1px solid #eee;			
			height: min(700px, 70vw);
			max-height: 60vh;
			background-color: #000;
			position: relative;
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			img {				
				width: 100%;
				height: 100%;
				object-fit: cover;				
				opacity: 0.3;				
			}
			div {				
				grid-column: 1;
				grid-row: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				&.img {
					background-color: #000;
				}
				span {
					font-size: min(6vw, 10vh);	
					font-weight: 900;
					color: white;
					text-align: center;
					line-height: 1.3em;
					text-shadow: 2px 2px 5px #000;
				}
			}
		}

		.details {
			padding: 5vw;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			row-gap: 5vw;

			.plugins {
				h1 {
					line-height: 1.3em;
					font-weight: 100;
					margin-top: 0;
				}

				.item {
					display: flex;
					align-items: center;
					column-gap: 1em;
					text-transform: capitalize;
					font-size: 1.2em;
					line-height: 1.7em;

					svg {
						height: 1em;
					}

					&.waiting {
						opacity: .5;
					}

					&.installing {
						svg {
							animation: spin 400ms linear infinite;
						}


					}

					&.installed {
						color: #5eb33b;
						svg {
							fill: #5eb33b;
						}
					}
				}


				.error {
					margin: 0 !important;
					padding: 0 !important;
					border: 1px solid #ff3949;
					border-left-width: 4px;
				}
			}

			.action {
				button {
					width: 100%;
					box-sizing: border-box;
					padding: 10px;
					font-weight: bold;
					font-size: 1.2em;
					border-radius: 8px;
				}
			}
		}

	}
}


@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(90deg);
	}

	50% {
		transform: rotate(180deg);
	}

	75% {
		transform: rotate(270deg);
	}

	100% {
		transform: rotate(360deg);
	}
}