$attr_states_bgc_active: #732FB3;
$attr_states_bgc: #c093eb;
$attr_devices_bgc_active: #6FB456;
$attr_devices_bgc: #c5e4ba;
$attr_parent_states_bgc_active: #2c6aee;
$attr_parent_states_bgc: #8fadec;

// APPEARANCE PANEL
.dragblock-inspector-controls.attributes {
    .properties {
        margin-top: 20px;

        a {
            cursor: pointer;
            font-size: 0.96em;
            font-family: monospace;
            line-height: 1.7em;
            display: inline-block;
            transition-property: transform;
            transition-duration: 100;
            transition-delay: 0;
            letter-spacing: -0.3px;

            &:hover {
                // text-decoration: underline;                                    
                transform: scale(1.1);

                // margin-left: 10px;
                >code {
                    color: #96db16;
                }
            }

            &.disabled {
                opacity: .5;
            }

            strong {
                color: white;
                font-size: 0.7em;
                padding: 0px 3px;
                margin: 0 1px 0 0;
                position: relative;
                top: -1px;

                &.devices {
                    background-color: $attr_devices_bgc_active;
                }

                &.selectors,
                &.parent-selectors {
                    border: 1px solid black;
                    border-radius: 4px;
                    top: -1px;
                    color: black;
                }

                &.states {
                    background-color: $attr_states_bgc_active;
                }

                &.parent-states {
                    background-color: $attr_parent_states_bgc_active;
                }

            }

            >code {
                background: none;
                padding: 0;
                font-size: inherit;
                color: #6eb337;
                margin-right: 5px;
                font-weight: bold;

                >span {
                    color: #777;
                    border: 1px solid;
                    border-radius: 4px;
                    margin: 0 2px;
                    padding: 0 2px;
                    font-size: 0.8em;
                }
            }

            >span {
                color: black;
            }

            .value-preview {
                .color {
                    border: 1px solid;
                    margin: 0 4px 0 0;
                    display: inline-block;
                    height: 0.8em;
                    width: 0.8em;
                    top: 0.07em;
                    position: relative;
                }
            }
        }
    }
}

// APPEARANCE CONTROLS / PROPERTY POPOVER
.dragblock-attributes-control-popover {
    .components-popover__content {
        overflow: visible !important;

        .value {
            margin-bottom: 20px;

            .dragblock-dimension-control {
                margin-bottom: 15px;
            }
        }

        .extra {
            margin: 0 0 10px 0;
            justify-content: stretch;
            align-items: center;

            .label {
                width: 55px;
                text-transform: uppercase;
                font-size: 0.8em;
                font-weight: bold;
                opacity: .8;
                width: 25%;
            }

            .control {
                width: 75%;
            }

            a.extra-item {
                display: inline-block;
                cursor: pointer;
                border: 1px solid #ddd;
                padding: 1px 5px;
                background: #f0f0f0;
                font-size: 0.9em;
                color: #666;
                text-align: center;
                top: 2px;
                position: relative;

                &:hover {
                    border-color: #ccc;
                    background-color: #dec6f3;
                    color: black;
                }

                &.active {
                    background: $attr_states_bgc;
                    color: white;

                    svg {
                        fill: white
                    }
                }

                svg {
                    display: inline;
                    width: 1.2em;
                    vertical-align: text-bottom;
                    fill: currentColor
                }
            }

            &.devices {
                a.extra-item {
                    font-size: 1.1em;

                    &:hover {
                        background: $attr_devices_bgc;

                    }

                    &.active {
                        background: $attr_devices_bgc_active;
                    }
                }
            }

            &.selectors {
                a.state-item {
                    &:hover {
                        background: $attr_states_bgc;
                        color: white;
                    }

                    &.active {
                        background: $attr_states_bgc_active;
                    }
                }

                .components-base-control__field {
                    margin: 0;

                    .components-text-control__input {
                        min-height: 0;
                        padding: 2px;
                    }
                }

            }

            &.parent-selectors {
                a.state-item {
                    &:hover {
                        background: $attr_parent_states_bgc;
                        color: white;
                    }

                    &.active {
                        background: $attr_parent_states_bgc_active;
                    }
                }
            }

        }
    }

}