// GENERAL
[class*="dragblock"][class*="control"] {
    .block-editor-panel-color-gradient-settings {
        padding: 0;
        margin: 0 0 20px 0;
    }

    .block-editor-tools-panel-color-gradient-settings__item.first {
        margin-top: 0px;
    }
}

.dragblock-richtext-icon-inserter-results {
    min-width: 250px;
}

////////////////////////////////////////////////////////////////
/// Image control
////////////////////////////////////////////////////////////////
.dragblock-image-control {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;

    &>.components-base-control {
        .components-base-control__field {
            margin-bottom: 0;

            input[type="text"] {
                border: none;
            }
        }
    }

    &>.components-form-file-upload {
        .components-button {
            padding: 0;
            svg {
                width: 1em;
            }
        }
    }

}


////////////////////////////////////////////////////////////////
/// Query Control
////////////////////////////////////////////////////////////////
.dragblock-query-object-controls {
    .object {
        .name {
            .delete {
                // visibility: hidden;

                svg {
                    width: 1.3em;
                    top: 0.3em;
                    position: relative;
                }
            }

            &:hover {
                .delete {

                    // visibility: visible;
                    svg {
                        transform: scale(1.1);
                    }

                }
            }

        }
    }

    .dragblock-autocomplete-search-box {
        margin-top: 10px;
    }
}

////////////////////////////////////////////////////////////////
/// Chosen Controls
////////////////////////////////////////////////////////////////
.dragblock-chosen-control {
    position: relative;

    .components-base-control {
        position: relative;
    }

    .options {
        position: absolute;
        background-color: white;
        border: 1px solid #f0f0f0;
        box-shadow: 1px 1px 2px #0002;
        z-index: 999;
        padding: 5px;
        border-radius: 4px;

        a.option {
            font-size: 0.9em;
            display: block;
            color: #444;
            line-height: 1.2em;
            margin: 5px 0;

            &:hover,
            &.active {
                color: #000;
                background-color: #f0f0f0;
            }
        }
    }

    &.top {
        .options {
            bottom: 100%;
        }
    }

    &.bottom {
        .options {
            top: 100%;
        }
    }

    &.left {
        .options {
            top: 0;
            right: 100%
        }
    }

    &.right {
        .options {
            top: 0;
            left: 100%
        }
    }
}

////////////////////////////////////////////////////////////////
/// Autocomplete Search Box
////////////////////////////////////////////////////////////////
.dragblock-autocomplete-search-box {
    button.fake-search-button {
        color: #333;
        border-radius: 4px;
        border: 1px solid #777;
        width: 100%;
        background-color: #fcfcfc;
        box-shadow: 1px 1px 3px #0002 !important;

        &:hover {
            background-color: #ffffff;
            box-shadow: 2px 2px 5px #0002 !important;
            border: 1px solid #555;
        }

        svg {}

    }
}

// APPEARANCE SEARCH RESULTS
.dragblock-autocomplete-search-box-popover {
    // margin-top: -45px;

    &.show-trigger {
        margin-top: auto;
    }

    &>div {
        z-index: 99;
        border: 1px solid inherit;
        background: white;
        padding: 10px;
        box-shadow: 2px 2px 5px #0003;
        width: 250px;
    }

    .components-base-control__field,
    .components-search-control {
        margin-bottom: 0px;

        input[type=search].components-search-control__input {
            padding-top: 0;
            padding-bottom: 0;
            height: 40px;
        }
    }


    .results {
        margin-top: 10px;

        .item {

            a {
                cursor: pointer;

                &:hover,
                &.active {
                    text-decoration: underline;

                    code {
                        background-color: #0002;
                    }
                }

                code {
                    background: none;
                }
            }

        }
    }

}



////////////////////////////////////////////////////////////////
/// Property popover
////////////////////////////////////////////////////////////////
.dragblock-property-popover {
    .components-popover__content {
        border: 1px solid #f4f4f4 !important;
        background: white;
        padding: 45px 10px 10px 10px;
        box-shadow: 2px 2px 10px 0px rgb(0 0 0 / 20%);
        min-width: 250px;
        box-sizing: border-box;
        position: relative;

        .title {
            margin: 0 0 10px 0;
            font-weight: bold;
        }

        &>.actions {
            border-bottom: 1px solid #ddd;
            margin-bottom: 15px;
            padding: 8px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            box-sizing: border-box;

            .action {
                opacity: .7;
                cursor: pointer;
                margin: 0 0 0 5px;

                &.close {
                    float: right;
                }

                &:hover {
                    opacity: 1;
                }

                &.disabled {
                    opacity: 0.5;
                }

                svg {
                    width: 1.3em;
                    vertical-align: bottom;
                }
            }
        }

        .content {}
    }

}



////////////////////////////////////////////////////////////////
/// Toolbar Popover
////////////////////////////////////////////////////////////////
.dragblock-toolbar-popover {
    .components-popover__content {
        padding: 10px;
        width: auto;
    }
}

////////////////////////////////////////////////////////////////
/// Toolbar Dropdown
////////////////////////////////////////////////////////////////
.dragblock-toolbar-dropdown {
    .dragblock-toolbar-dropdown-item {
        &:focus {
            outline: none;
            box-shadow: none;
        }

        &.active {
            outline: 3px solid #007cba;
        }

        .components-menu-item__item {
            svg {
                width: 1.3em;
                margin-right: 10px;
            }

            span {}
        }

    }
}


// SELECTORS CONTROL
.dragblock-selectors-control {
    .states {
        .state-item {
            display: block;
            cursor: pointer;
            border: 1px solid #ddd;
            background: #f0f0f0;
            font-size: 0.9em;
            color: #666;
            text-align: center;
            width: 3em;
            max-width: 100%;

            &.active {
                background-color: black;
                color: white;
            }
        }
    }

    .components-base-control__field {
        margin-bottom: 0;

        input {
            &.components-text-control__input {
                font-size: 12px;
                padding: 0px 5px;
                min-height: 0;
                height: 20px;
                border-color: #999;
            }
        }
    }
}

// HEIGHT
.dragblock-height-control {
    .components-button-group {
        border: 1px solid;
        padding: 3px;
        margin: 0 0 10px 0;
        width: 100%;
        display: flex;
        justify-content: stretch;

        .components-button {
            box-shadow: none !important;
            font-size: 0.83em;
            outline: none;
            padding: 5px;
            width: 33.3%;
            line-height: 1em;
            height: auto;
            text-align: center;
            display: block;

            &.is-primary {
                background: black;
            }
        }
    }

    .components-layout-control {
        .label {
            font-weight: bold;
            margin: 10px 0 0 0;
            text-transform: uppercase;
            letter-spacing: .5px;
            font-size: 10px;
        }

        .items {
            display: flex;

            .item {
                flex-basis: 0;
                flex-grow: 1;
                display: inline-block;
                height: 25px;
                width: 100%;
                cursor: pointer;
                border: 1px solid #074768;
                background-color: #007cba63;
            }
        }

        &.is-active {
            .items {
                .item {
                    &.is-active {
                        background-color: #007cbab9;
                    }
                }
            }
        }
    }

}


// WIDTH
.dragblock-width-control {
    .components-button-group {
        border: 1px solid;
        padding: 3px;
        margin: 0 0 10px 0;
        width: 100%;
        display: flex;
        justify-content: stretch;

        .components-button {
            box-shadow: none !important;
            font-size: 0.83em;
            outline: none;
            padding: 5px;
            width: 33.3%;
            line-height: 1em;
            height: auto;
            text-align: center;
            display: block;

            &.is-primary {
                background: black;
            }
        }
    }

    .components-layout-control {
        .label {
            font-weight: bold;
            margin: 10px 0 0 0;
            text-transform: uppercase;
            letter-spacing: .5px;
            font-size: 10px;
        }

        .items {
            display: flex;

            .item {
                flex-basis: 0;
                flex-grow: 1;
                display: inline-block;
                height: 25px;
                width: 100%;
                cursor: pointer;
                border: 1px solid #074768;
                background-color: #007cba63;
            }
        }

        &.is-active {
            .items {
                .item {
                    &.is-active {
                        background-color: #007cbab9;
                    }
                }
            }
        }
    }

}


// TEXT ALIGN CONTROL
.dragblock-text-align-control {
    .components-button-group {
        margin: 0 0 10px 0;
        border: 1px solid;
        width: 100%;

        .components-button {
            box-shadow: none !important;
            font-size: 0.8em;
            outline: none;
            padding: 9px 0;
            line-height: 1em;
            height: auto;
            font-weight: 600;
            width: 20%;
            text-align: center;
            display: inline-block;

            &.is-primary {
                background: black;
            }
        }
    }
}

// BORDER STYLE CONTROL
.dragblock-position-control {
    .components-button-group {
        border: 1px solid;
        padding: 3px;
        margin: 0 0 10px 0;

        .components-button {
            display: inline-block;
            box-sizing: border-box;
            box-shadow: none !important;
            outline: none;
            padding: 10px 10px;
            line-height: 1em;
            height: auto;

            &.is-primary {
                background: black;
            }
        }

        .components-select-control__input {
            margin-bottom: 20px;
        }
    }
}

// TEXT TRANSFORM CONTROL
.dragblock-text-transform-control {
    .components-button-group {
        border: 1px solid;
        padding: 3px;
        margin: 0 0 10px 0;

        .components-button {
            box-shadow: none !important;
            font-size: 1.1em;
            outline: none;
            padding: 9px;
            line-height: 1em;
            height: auto;
            font-weight: 600;
            width: 25%;

            &.is-primary {
                background: black;
            }
        }
    }
}



// BORDER STYLE CONTROL
.dragblock-border-style-control {
    .components-button-group {
        .components-button {
            width: 20%;
            box-shadow: none !important;
            font-size: 0.8em;
            outline: none;
            text-align: center;
            padding: 0 8px 8px 0;
            display: inline-block;
            height: auto;

            &:hover {
                background: none;
                color: black;

                span {
                    span {
                        background-color: #f0f0f0;
                    }
                }
            }

            &.is-primary {
                background: white;

                span {
                    color: black;

                    span {
                        color: white;
                        background-color: black;
                    }
                }
            }

            >span {
                border-width: 5px;
                padding: 5px 0;
                width: 100%;
                box-sizing: border-box;
                display: inline-block;
                color: black;

                span {
                    padding: 2px 4px;
                }
            }
        }
    }
}

// TEXT DECORATION STYLE CONTROL
.dragblock-text-decoration-style-control {
    .components-button-group {
        border: 1px solid;
        padding: 3px;
        margin: 0 0 10px 0;

        .components-button {
            display: inline-block;
            text-decoration-line: line-through;
            text-decoration-color: black;
            color: transparent;
            width: 33%;
            box-sizing: border-box;
            box-shadow: none !important;
            font-size: 1.1em;
            outline: none;
            padding: 8px 10px;
            line-height: 1em;
            height: auto;

            &.is-primary {
                background: black;
                text-decoration-color: white;

            }

            &:first-child {
                color: inherit;
                text-decoration-line: none;
            }

            &.is-primary:first-child {
                color: white;
            }
        }
    }
}


// TEXT DECORATION LINE CONTROL
.dragblock-text-decoration-line-control {
    .components-button-group {
        border: 1px solid;
        padding: 3px;
        margin: 0 0 10px 0;
        display: flex;

        .components-button {
            display: flex;
            flex-grow: 1;
            box-sizing: border-box;
            box-shadow: none !important;
            font-size: 1.1em;
            outline: none;
            padding: 8px 10px;
            line-height: 1em;
            height: auto;

            &.is-primary {
                background: black;
            }
        }
    }
}



// FONT SIZE CONTROL
.dragblock-font-size-control {
    .components-button-group {
        border: 1px solid;
        padding: 3px;
        margin: 0 0 10px 0;
        display: flex;

        .components-button {
            box-shadow: none !important;
            font-size: 0.85em;
            outline: none;
            padding: 9px;
            line-height: 1em;
            height: auto;
            flex-grow: 1;
            justify-content: center;

            &.is-primary {
                background: black;
            }
        }
    }
}

// FONT WEIGHT CONTROL
.dragblock-font-weight-control {
    .components-button-group {
        border: 1px solid;
        padding: 3px;
        margin: 0 0 10px 0;

        .components-button {
            display: inline-block;
            width: 33.33%;
            box-sizing: border-box;
            box-shadow: none !important;
            font-size: 1.5em;
            outline: none;
            padding: 20px 0;
            line-height: 1em;
            height: auto;

            &.is-primary {
                background: black;
            }
        }
    }
}

// LINE HEIGHT CONTROL
.dragblock-line-height-control {
    .components-button-group {
        border: 1px solid;
        padding: 3px;
        margin: 0 0 10px 0;

        .components-button {
            display: inline-block;
            /* width: 20%; */
            box-sizing: border-box;
            box-shadow: none !important;
            font-size: 0.9em;
            outline: none;
            padding: 8px;
            line-height: 1em;
            height: auto;

            &.is-primary {
                background: black;
            }
        }
    }
}

// BOX CONTROL
.dragblock-box-control {
    &.corner {
        margin-bottom: 16px;

        .components-box-control-unlinked-container {
            position: relative;

            .components-box-control-visualizer {
                position: absolute;
                border: 2px solid;
                top: 10%;
                left: 5%;
                height: 65%;
                width: 90%;

            }

            .components-number-control.top-left {
                border-top: 1px solid;
                border-left: 1px solid;
            }

            .components-number-control.top-right {
                border-top: 1px solid;
                border-right: 1px solid;
            }

            .components-number-control.bottom-left {
                border-bottom: 1px solid;
                border-left: 1px solid;
            }

            .components-number-control.bottom-right {
                border-bottom: 1px solid;
                border-right: 1px solid;
            }
        }

        button.components-button {
            height: auto !important;
            padding: 0 !important;
        }
    }

    &.side {

        .components-box-control-unlinked-container {
            position: relative;

            .components-box-control-visualizer {
                position: absolute;
                border: 10px solid;
                width: 75%;
                height: 85%;
                top: 10px;
                left: 25px;
            }

            .components-number-control.components-unit-control {
                max-width: 100px;
                margin: 10px auto;
            }
        }


        button.components-button {
            height: auto !important;
            padding: 0 !important;
        }
    }
}



// DIMENSION CONTROL
.dragblock-dimension-control {
    >.components-flex:first-child {
        >.components-flex-item:first-child {
            flex: .5;
        }
    }

    input {
        height: 30px !important;
        min-height: 0 !important;
        padding-left: 8px !important;
    }

    select.components-unit-control__select {
        margin-inline-end: 0px !important;
        font-size: .6em !important;
        text-transform: uppercase;
        font-weight: bold;
        height: 100% !important;
        padding: 0 !important;
        min-width: 0 !important;

        &:hover {
            background: #ccc3;
        }
    }
}